.card-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-content {
    display: flex;
    flex-direction: row;
    background-color: #7763dd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    align-items: stretch;
}

.card-texto {
    flex:1;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-texto h2{
    margin-bottom: 10px;
    font-size: 24px;
}

.card-image {
    flex: 1;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-left: 1px solid #eee;
}

/*Media query*/

@media (max-width: 768px) {
    .card-content {
        flex-direction:column;
    }

    .card-image{
        border-left: none;
        border-top: 1px solid #eee;
    }

    .card-texto {
        text-align: center;
    }
}