.navbar {
    background-color: #6266cc !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body{
    padding-top: 80px;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover {
    color: #ffa500 !important;
}

.logotipo { 
    display: block;
    border-radius: 25px;
}

